.bienv{
min-height: 80vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.bienv form{
    display: flex;
    flex-direction: column;}
.bienv h3{
    font-size: 45px;
    margin-bottom: 30PX;
}

.bienv input{
    margin: 15px 0;
    display: block;
    padding: 10px;
    min-width: 35vw;
    border-radius: 5px;
}
.mess_inser{
    color: green;
    margin-bottom: 15px;
}
.mess_inser a{
    font-weight: bold;
    color: rgb(225, 19, 19);
}
.mess_inser a:hover{
    
    color:rgb(252, 145, 52);
    letter-spacing: 1.5px;
}

#btn_c_v{
    min-width: 35vw;
    background-color: rgb(225, 19, 19);
    padding: 10px 0;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid white;
    transition: all .3s;
}
#btn_c_v:hover{
    background-color: rgb(252, 145, 52);
    letter-spacing: 2px;
    font-size: 26px;
    color: black;
}